name: Publish Docker images

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Image tag to publish (default: latest)'
        required: false
        default: 'latest'

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push frontend
        uses: docker/build-push-action@v4
        with:
          context: .
          file: Dockerfile.frontend
          push: true
          tags: |
            tg3392/invoice-app-frontend:${{ github.event.inputs.tag }}

      - name: Build and push api
        uses: docker/build-push-action@v4
        with:
          context: ./server
          file: Dockerfile
          push: true
          tags: |
            tg3392/invoice-app-api:${{ github.event.inputs.tag }}

      - name: Build and push ocr
        uses: docker/build-push-action@v4
        with:
          context: ./ocr
          file: Dockerfile
          push: true
          tags: |
            tg3392/invoice-app-ocr:${{ github.event.inputs.tag }}
